<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package               = "com.venn.app"
      android:versionCode   = "1"
      android:versionName   = "1.0">

    <uses-sdk           android:minSdkVersion   = "14" />

    <!-- For user permissions. -->
    <!-- ============================================================================ -->
    <uses-permission    android:name            = "android.permission.BLUETOOTH" />
    <!-- android.permission.INTERNET Used by the API to download map tiles from
      Google Maps servers. -->
    <uses-permission android:name   = "android.permission.INTERNET"/> <!-- android.permission.ACCESS_NETWORK_STATE Allows the API to check the
      connection status in order to determine whether data can be downloaded.
  -->
    <uses-permission android:name   = "android.permission.ACCESS_NETWORK_STATE"/>
    <!-- com.google.android.providers.gsf.permission.READ_GSERVICES Allows the
      API to access Google web-based services. -->
    <uses-permission android:name   = "android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- android.permission.WRITE_EXTERNAL_STORAGE Allows the API to cache map
      tile data in the device's external storage area. -->
    <uses-permission android:name   = "com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <!-- The two permissions are required since the app will need the current
      location of the user. -->
    <uses-permission android:name   = "android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name   = "android.permission.ACCESS_FINE_LOCATION"/>
    <!-- ============================================================================ -->

    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>

    <application 
        android:label       = "@string/app_name"
        android:icon        = "@drawable/ic_launcher"
        android:debuggable  = "true">

        <activity android:name  = "MainActivity"
                  android:label = "@string/app_name">
            <intent-filter>
                <action     android:name = "android.intent.action.MAIN" />
                <category   android:name = "android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name    = "com.venn.app.LocationFetcherActivity"
            android:parentActivityName = "com.venn.app.MainActivity" >
            <meta-data
                android:name    = "android.support.PARENT_ACTIVITY"
                android:value   = "com.venn.app.MainActivity" />
        </activity>

        <meta-data
            android:name    = "com.google.android.maps.v2.API_KEY"
            android:value   = "AIzaSyA8i5N0j8yeU0gc6Jk3-FKRCE4WXdw1JPo"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>
